// 商品購入確認ページのメイン
.PurchaseMain
  // 商品購入確認ページの大枠
  .PurchaseMain__content
    // 商品購入確認ページの各項目
    // タイトル
    %h2.PurchaseMain__content__title
      購入内容の確認
    
    // 購入する商品の内容
    .PurchaseMain__content__product
      .PurchaseMain__content__product__goods
        .PurchaseMain__content__product__goods__picture
          = image_tag(@item.images[0].image.url, class: "PurchaseMain__content__product__goods__picture--image")
        .PurchaseMain__content__product__goods__text
          %p.PurchaseMain__content__product__goods__text__name
            = @item.name
          .PurchaseMain__content__product__goods__text__cash
            %p.PurchaseMain__content__product__goods__text__cash--postage
              送料込み(税込)
            %p.PurchaseMain__content__product__goods__text__cash--total
              = @item.price

    // 支払い金額
    .PurchaseMain__content__money
      %p.PurchaseMain__content__money__payment
        支払い金額
      %p.PurchaseMain__content__money__sum
        = @item.price

    // 支払い方法
    .PurchaseMain__content__way
      %p.PurchaseMain__content__way__text
        支払い方法
      %p.PurchaseMain__content__way__registration
        = link_to "#", class: "PurchaseMain__content__way__registration--card" do
          カードを登録してください

    // 配送先
    .PurchaseMain__content__address
      .PurchaseMain__content__address__delivery
        %h3.PurchaseMain__content__address__delivery__shipping
          配送先
        .PurchaseMain__content__address__delivery__change
          = link_to "#", class: "PurchaseMain__content__address__delivery__change--btn" do
            変更する
      .PurchaseMain__content__address__userinfo
        %p.PurchaseMain__content__address__userinfo--PurchaseMain__content__address__delivery
          〒
          = @contact_information.post_code
        %p.PurchaseMain__content__address__userinfo--residence
          = @contact_information_prefecture.name
          = @contact_information.city
          = @contact_information.house_number
          = @contact_information.building_name
        %p.PurchaseMain__content__address__userinfo--name
          = @contact_information.destination_family_name
          = @contact_information.destination_first_name

    // 購入するボタン
    .PurchaseMain__content__purchase
      .PurchaseMain__content__purchase__announcement
        %p.PurchaseMain__content__purchase__announcement__warning
          支払い方法の入力を完了してください。
        .PurchaseMain__content__purchase__announcement__done
        // もし、ログインしているユーザーのidと出品者のidが等しくなければ購入ボタンを表示
        - if user_signed_in? && current_user.id != @item.seller_id && current_user.creditcard
          = form_with url:pay_item_path, method: :post do |f|
            = f.submit "購入する", class: "PurchaseMain__content__purchase__announcement__done--btns"