// 商品編集ページのヘッダー
= render "new-header"

// 商品編集ページのメイン
.ListingMain
  // 商品編集ページのメインの全体
  .ListingMain__entire
    // 商品編集ページの各項目
    // 出品画像
    .ListingMain__entire__menu
    // form_withの引数(@itemのなかにItemモデルのインスタンスが入っている場合、Railsはそのクラス名から送信先を推定する)
    = form_with model: @item, local: true do |f|
      .ListingMain__entire__menu__text
        %p.ListingMain__entire__menu__text--letter
          出品画像
        %span.ListingMain__entire__menu__text--note
          必須
      %p.ListingMain__entire__menu__sheets
        最大5枚までアップロードできます
      
      // 画像アップロード
      .ListingMain__entire__menu__list
        .ListingMain__entire__menu__list__field
          .ListingMain__entire__menu__list__field__display
            
            // labelはフォーム部品と項目名（ラベル）を関連付ける
            %label.ListingMain__entire__menu__list__field__display__content{for: "item_images_attributes_0_image"}
              // カメラのアイコン
              = icon("fas", "camera", class: "ListingMain__entire__menu__list__field__display__content--image")
              クリックしてファイルをアップロード
              // image-boxというidをつける。
            #image-box
              #previews
                // fields_forを使用することで、異なるモデルを編集できるようになる。
                = f.fields_for :images, class: "ListingMain__entire__menu__list__field__display__content--file" do |i|
                  // i.indexとすることで、ビルドされた際に振られるindexを取得できる（これをカスタムデータとして持たせることで今後のJSの処理で要素を特定していく。）
                  .js-file_group{data: {index: {id: i.index}}}
                    = i.file_field :image, class: "js-file conpilation"
                    .js__editRemove
                      %p.js-edit
                        編集
                      %p.js-remove
                        削除

                    - if i.object.persisted?
                      // 保存済みの画像レコードを削除するためのチェックボックス(このチェックボックスをonにすることで、railsが該当レコードのidを検索し削除する)
                      = i.check_box :_destroy, data: {index: i.index}, class: "items-image"
                      = image_tag i.object.image.url, data: {index: i.index}, class: "item-image__image"
                  // 新規画像追加のボタン
                  - if i.object.persisted?
                    .js-file_group{data: {index: {id: i.index}}}
                      = i.file_field :image, class: "js-file"
                      %p.js-remove
                        削除

      .ListingMain__entire__menu__separation
        
      // 商品名
      .ListingMain__entire__menu
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            商品名
          %span.ListingMain__entire__menu__text--note
            必須
                
      // 商品名記入欄
      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.text_field :name, class: "ListingMain__entire__menu__form__list__input", placeholder: "商品名を書いてください"
     
      // 商品の説明
      .ListingMain__entire__menu
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            商品の説明
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.text_area :explain, class: "ListingMain__entire__menu__form__list__area", placeholder: "商品の説明（色、素材、重さ、定価、注意点など）例）2020年頃に2万円で購入した時計です。数回しか使用しておらず、状態も良いです。"
      

      .ListingMain__entire__menu__separation

      // 商品の詳細
      // カテゴリー
      .ListingMain__entire__menu
        %p.ListingMain__entire__menu__index
          商品の詳細
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            カテゴリー
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form#category_box
          // 親カテゴリー
          .ListingMain__entire__menu__form__list#parent_box
            = f.collection_select :category_id, Category.all.limit(13), :id, :name,{prompt:"選択してください"}, {class: "ListingMain__entire__menu__form__list__input", id: "parent_category"}

          // 子カテゴリー
          .ListingMain__entire__menu__form__children#children_box
            -#親カテゴリー選択によって子カテゴリー表示
          // 孫カテゴリー
          .LisitngMain__entire__menu__form__grandchildren#grandchildren_box
            -#子カテゴリー選択によって孫カテゴリー表示


      .ListingMain__entire__menu__separation

      // ブランド
      .ListingMain__entire__menu
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            ブランド
          %span.ListingMain__entire__menu__text--brand
            任意

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.fields_for :brands do |brand|
              = brand.text_field :name, class: "ListingMain__entire__menu__form__list__input", placeholder: "例) シャネル"

      .ListingMain__entire__menu__separation

      // 商品の状態
      .ListingMain__entire__menu
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            商品の状態
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.collection_select :status_id, Status.all, :id, :status, {prompt: "選択してください"}, {class: "ListingMain__entire__menu__form__list__input"}

      .ListingMain__entire__menu__separation

      // 配送について
      // 配送料の負担
      .ListingMain__entire__menu
        %p.ListingMain__entire__menu__index
          配送について
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            配送料の負担
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.collection_select :delivery_fee, Deliveryfee.all, :id, :delivery_fee, {prompt: "選択してください"}, {class: "ListingMain__entire__menu__form__list__input"}

      .ListingMain__entire__menu__separation

      // 発送元の地域
      .ListingMain__entire__menu
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            発送元の地域
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.collection_select :region, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: "ListingMain__entire__menu__form__list__input"}

      .ListingMain__entire__menu__separation

      // 発送までの日数
      .ListingMain__entire__menu
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            発送までの日数
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list
            = f.collection_select :days, Shippingdays.all, :id, :days, {prompt: "選択してください"}, {class: "ListingMain__entire__menu__form__list__input"}

      .ListingMain__entire__menu__separation

      // 価格(¥300~9,999,999)
      .ListingMain__entire__menu
        %p.ListingMain__entire__menu__index
          価格 (¥300~9,999,999)
        .ListingMain__entire__menu__text
          %p.ListingMain__entire__menu__text--letter
            販売価格
          %span.ListingMain__entire__menu__text--note
            必須

      .ListingMain__entire__menu
        .ListingMain__entire__menu__form
          .ListingMain__entire__menu__form__list__price
            ¥
            = f.text_field :price, class: "ListingMain__entire__menu__form__list"

      .ListingMain__entire__menu__separation

      // 変更するボタン
      .ListingMain__entire__menu
        .ListingMain__entire__menu__settlement
          = f.submit "変更する", class: "ListingMain__entire__menu__settlement--exhibit"

          // もどるボタン
          = link_to root_path, class: "ListingMain__entire__menu__settlement--return" do
            %p もどる

      // 注意書き
      .ListingMain__entire__menu
        .ListingMain__entire__menu__attention
          %p.ListingMain__entire__menu__attention__message
            禁止されている行為および出品物を必ずご確認ください。
            %br
            偽ブランド品や窃盗物などの販売は犯罪であり、法律により処罰される可能性があります。
            %br
            また、出品をもちまして加盟店規約に同士したことになります。


// 商品編集ページのフッター
= render "new-footer"